
ul{
    color:aliceblue;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1em;
}
.grid ul{
    background-color: #5B2C6F 
    ;
    padding: 2em;
}
.grid ul:hover{
    border: 1px solid rgb(124, 192, 144);
}

.boton{
    
    align-items:center;
    background-color: rgb(71, 125, 183);
    border-radius: 5px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    height: 50px;
    width: 250px;
}